
/*      Ice
----------------------------------------------------------*/

.theme-ice .subscription-form-email:focus {
    border-color: #56828B;
}

.theme-ice .subscription-form-submit {
    background: #56828B;
}

.theme-ice .subscription-form-submit:hover,
.theme-ice .subscription-form-submit:focus {
    background: #497078;
}

.theme-ice .subscription-form-submit:active {
    background: #38565C;
}

.theme-ice .social-links > a:hover,
.theme-ice .social-links > a:focus {
    background: #56828B;
}

