

/*      Sea
----------------------------------------------------------*/

.theme-sea .subscription-form-email:focus {
    border-color: #4F9D8B;
}

.theme-sea .subscription-form-submit {
    background: #4F9D8B;
}

.theme-sea .subscription-form-submit:hover,
.theme-sea .subscription-form-submit:focus {
    background: #489181;
}

.theme-sea .subscription-form-submit:active {
    background: #3E796B;
}

.theme-sea .social-links > a:hover,
.theme-sea .social-links > a:focus {
    background: #4F9D8B;
}