

/*      Light
----------------------------------------------------------*/

.theme-light .subscription-form-email:focus {
    border-color: #DBBA48;
}

.theme-light .subscription-form-submit {
    background: #DBBA48;
}

.theme-light .subscription-form-submit:hover,
.theme-light .subscription-form-submit:focus {
    background: #C1A01E;
}

.theme-light .subscription-form-submit:active {
    background: #957B17;
}

.theme-light .social-links > a:hover,
.theme-light .social-links > a:focus {
    background: #DBBA48;
}


