
/*      Fire
----------------------------------------------------------*/


.theme-fire .subscription-form-email:focus {
    border-color: #d44032;
}

.theme-fire .subscription-form-submit {
    background: #d44032;
}

.theme-fire .subscription-form-submit:hover,
.theme-fire .subscription-form-submit:focus {
    background: #c33629;
}

.theme-fire .subscription-form-submit:active {
    background: #a62e23;
}

.theme-fire .social-links > a:hover,
.theme-fire .social-links > a:focus {
    background: #d44032;
}