
/*      Candy
----------------------------------------------------------*/

.theme-candy .subscription-form-email:focus {
    border-color: #BF526B;
}

.theme-candy .subscription-form-submit {
    background: #BF526B;
}

.theme-candy .subscription-form-submit:hover,
.theme-candy .subscription-form-submit:focus {
    background: #9F3C52;
}

.theme-candy .subscription-form-submit:active {
    background: #803143;
}

.theme-candy .social-links > a:hover,
.theme-candy .social-links > a:focus {
    background: #BF526B;
}
