

/*      Peach
----------------------------------------------------------*/

.theme-peach .subscription-form-email:focus {
    border-color: #F97C53;
}

.theme-peach .subscription-form-submit {
    background: #F97C53;
}

.theme-peach .subscription-form-submit:hover,
.theme-peach .subscription-form-submit:focus {
    background: #D75B2D;
}

.theme-peach .subscription-form-submit:active {
    background: #B04922;
}

.theme-peach .social-links > a:hover,
.theme-peach .social-links > a:focus {
    background: #F97C53;
}