<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
		<staticContent>
			<mimeMap fileExtension="svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension="woff" mimeType="application/font-woff" />
		</staticContent>
        <rewrite>
            <rules>
                <rule name="Redirect www to non-www" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\." />
                    </conditions>
                    <action type="Redirect" url="http://dotnetsheff.co.uk/{R:0}" redirectType="Permanent" />
                </rule>              
            </rules>
        </rewrite>
    </system.webServer>
</configuration>