<div data-bind="with: selectedTalk">
    <h3 data-bind="text: title"></h3>
    <div data-bind="foreach: talks">
        <div class="form-group">
            <span data-bind="text: title"></span> - <span data-bind="text: speaker"></span>
            <div class="rating-container">
                <label for="talk">Overall: </label>
                <fieldset class="rating">
                    <input type="radio" data-bind="attr: {id: $data.title + '-5-' + $index()}" value="5" />
                    <label class="full" data-bind="attr: {for: $data.title + '-5-' + $index()}" title="5"></label>
                    <input type="radio" data-bind="attr: {id: $data.title + '-4.5-' + $index()}" value="4.5" />
                    <label class="half" data-bind="attr: {for: $data.title + '-4.5-' + $index()}" title="4.5"></label>
                    <input type="radio" data-bind="attr: {id: $data.title + '-4-' + $index()}" value="4" />
                    <label class="full" data-bind="attr: {for: $data.title + '-4-' + $index()}" title="4"></label>
                    <input type="radio" data-bind="attr: {id: $data.title + '-3.5-' + $index()}" value="3.5" />
                    <label class="half" data-bind="attr: {for: $data.title + '-3.5-' + $index()}" title="3.5"></label>
                    <input type="radio" data-bind="attr: {id: $data.title + '-3-' + $index()}" value="3" />
                    <label class="full" data-bind="attr: {for: $data.title + '-3-' + $index()}" title="3"></label>
                    <input type="radio" data-bind="attr: {id: $data.title + '-2.5-' + $index()}" value="2.5" />
                    <label class="half" data-bind="attr: {for: $data.title + '-2.5-' + $index()}" title="2.5"></label>
                    <input type="radio" data-bind="attr: {id: $data.title + '-2-' + $index()}" value="2" />
                    <label class="full" data-bind="attr: {for: $data.title + '-2-' + $index()}" title="2"></label>
                    <input type="radio" data-bind="attr: {id: $data.title + '-1.5-' + $index()}" value="1.5" />
                    <label class="half" data-bind="attr: {for: $data.title + '-1.5-' + $index()}" title="1.5"></label>
                    <input type="radio" data-bind="attr: {id: $data.title + '-1-' + $index()}" value="1" />
                    <label class="full" data-bind="attr: {for: $data.title + '-1-' + $index()}" title="1"></label>
                    <input type="radio" data-bind="attr: {id: $data.title + '-0.5-' + $index()}" value="0.5" />
                    <label class="half" data-bind="attr: {for: $data.title + '-0.5-' + $index()}" title="0.5"></label>
                </fieldset>
            </div>
            <div class="form-group">
                <label for="enjoy-about-talk">What did you enjoy about the talk?</label>
                <textarea class="form-control" rows="2" id="enjoy-about-talk" name="enjoy-about-talk"></textarea>
            </div>
            <div class="form-group">
                <label for="improvements-about-talk">What would improve the talk?</label>
                <textarea class="form-control" rows="2" id="improvements-about-talk" name="improvements-about-talk"></textarea>
            </div>
        </div>
    </div>
</div>