<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">  
	<meta name="keywords" content="programming, software engineering, azure, windows, development, .net, sheffield, user group" />
	<meta name="author" content="Kevin Smith" />

	<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}"/>
	<meta property="og:image" content="{{ "images/logo.jpg" | prepend: site.baseurl }}"/>
	<meta property="og:url" content="{{ site.baseurl }}/"/>
	<meta property="og:site_name" content="{{% site.title %}}"/>
	<meta property="og:description" content="{{ site.description }}"/>
	<meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
	<meta name="twitter:image" content="{{ "images/logo.jpg" | prepend: site.baseurl }}" />
	<meta name="twitter:url" content="{{ site.baseurl }}/" />
	<meta name="twitter:card" content="summary" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,600,400italic,700' rel='stylesheet' type='text/css'>
  
	<link rel="stylesheet" href="{{ "css/animate.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "css/flexslider.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "css/magnific-popup.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "css/starrating.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "css/feedback.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <!-- Modernizr JS -->
	<script src="{{ "js/modernizr-2.6.2.min.js" | prepend: site.baseurl }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ "js/respond.min.js" | prepend: site.baseurl }}"></script>
	<![endif]-->

</head>