<section id="sponsors">
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="lead animate-box">Our Sponsors</h2>
                <p class="sub-lead animate-box">Without our sponsors, dotnetsheff would not be able to achieve as much success as we do.</p>
            </div>
        </div>

        {% assign sponsors_by_type = site.data.sponsors | group_by:"type" %}

        {% for sponsor_type in sponsors_by_type %}
            <div class='panel panel-default'>
            <div class='panel-heading'>{{sponsor_type.name}}</div>
            <div class='panel-body'>

            {% for sponsor in sponsor_type.items %}
                <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
                    <a href="{{sponsor.website}}" target="_blank" class="sponsor-item">
                        <img src="images/sponsors/{{sponsor.image}}" alt="{{sponsor.name}}" class="img-responsive center-block" />
                        <div class="text">
                            <h2>{{sponsor.name}} - {{sponsor.type}}</h2>
                            <p>{{sponsor.description}}</p>
                        </div>
                    </a>
                </div>
           {% endfor %}   

            </div></div>
        {% endfor %}   

    </div>
</section>